* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #121212;
}

h2 {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
}

.movie-list {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    margin: 1rem;
    padding: 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
}

.buttons button {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #393434;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #f5c518;
}

.buttons button:active {
    background-color: #0a0a0a;
}

.like-button,
.comment-button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    color: #5799ef;
    font-size: 1rem;
}
