@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700&family=Montserrat:wght@100;200;300;400;500;600&family=Permanent+Marker&family=Poppins:wght@100;200;300;400;500;600&family=Space+Grotesk:wght@300;400;500;600;700&family=Titan+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: rgba(1, 0, 74, 0.8);
}

header {
  background-color: rgba(1, 21, 74, 0.8);
  padding: 3rem;
}

.logo-style {
  color: rgba(76, 6, 150, 0.88);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav h3 {
  font-size: 50px;
  font-family: 'Permanent Marker', cursive;
}

ul {
  display: flex;
  gap: 70px;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  font-family: 'Gothic A1', sans-serif;
}

h2 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
}

.movie-list {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 1rem;
  padding: 1rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  gap: 1rem;
}

.buttons button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #393434;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #f5c518;
}

.buttons button:active {
  background-color: #0a0a0a;
}

.reservation-button,
.comment-button {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  color: #5799ef;
  font-size: 1rem;
}

/* modal */
#myModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Gothic A1', sans-serif;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  font-family: 'Gothic A1', sans-serif;
  font-size: 20px;
  padding-bottom: 20px;
}

.details p {
  padding-bottom: 15px;
}

#movieImg {
  width: 20%;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

.comments {
  text-align: center;
  font-family: 'Gothic A1', sans-serif;
  font-size: 20px;
}

.comments p {
  padding-bottom: 15px;
}

.form-center {
  width: 400px;
  margin: 0 auto;
}

input {
  border-radius: 0;
  border-radius: 8px;
  padding: 15px 38px 15px 16px;
  border: 1px solid #cfd8dc;
  margin-top: 20px;
  font-family: Poppins, serif, sans serif;
  font-weight: 400;
  color: #172b4d;
  font-size: 17px;
}

textarea {
  background: #fff;
  height: 100px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-top: 18px;
  padding: 15px 38px 15px 16px;
  font-family: Poppins, serif, sans serif;
  font-weight: 400;
  color: #172b4d;
  font-size: 17px;
}

form input,
form textarea {
  display: block;
}

.comment-btn {
  font-family: Poppins, serif, sans serif;
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  color: #8f9394;
  padding: 12px;
  text-align: left !important;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-top: 15px;
  letter-spacing: 0.03em;
  transition: background-color 0.15s, color 0.15s;
}

footer {
  display: block;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 8px;
  height: 30px;
  color: #fff;
  border-color: black;
  background-color: rgba(1, 21, 74, 0.8);
  border: 1cm;
}
